@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// COLORS
$dark: rgb(29, 29, 29);
$light: rgb(255, 255, 255);
$primary: rgb(165, 238, 243);
$bg: rgb(245, 245, 255);

// SPACING
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;

// BORDER RADIUS
$borderRadius: 1.2rem;

// HEADER HEIGHT
$headerHeight: 8rem;

@mixin breakpoint($point) {
  @if $point == md {
    // 786px
    @media (min-width: 48em) {
      @content;
    }
  }
}
