.para {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
}
